@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


h1{
  font-weight: 900;
  font-size: 104px;
  line-height: 104px;
}
h2{
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}
h3{
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}
h4{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.text-normal{
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}
.text-small{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.text-small-bold{
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
